<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Counter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bulma.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bulma.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io();
            socket.on('greeting', function (data) { //4
                console.log(data.msg); //5
                socket.emit('thankyou', { msg: 'Thank you for connecting me! -Client' }); //6
            });
            $('#one').click(function(){
                socket.emit('click');
            });
            $('#two').click(function(){
                socket.emit('click');
                socket.emit("click");
            });
            $('#reset').click(function(){
                socket.emit('reset');
            });
            socket.on('count',function(data){
                var count = data.toString() + " times";
                $("#count").text(count);
            });
            socket.on('reset',function(data){
                var count = data.toString() + " times";
                $("#count").text(count);
            });
        });
    </script>
</head>

<body>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <p class="title">Counter</p>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="levels">
                <div class="level">
                    <p id = "count">0 times</p>
                </div>
                <div class="level">
                        <button id = "one">Count!</button>
                </div>
                <div class="level">
                        <button id = "two">Count Two!</button>
                </div>
                <div class="level">
                        <button id = "reset">Reset!</button>
                </div>
            </div>
        </div>
    </section>
</body>

</html>